---
export const prerender = true;

import { getCollection } from 'astro:content';
import Navigation from '../../components/Navigation.astro';
import Layout from '../../layouts/Layout.astro';
import { AstroSeo } from '@astrolib/seo';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blogs');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<AstroSeo
  title={`Blog - ${entry.data.title}`}
  description="Sharing my thoughts and ideas about web development, design, and more."
  canonical="https://www.tbd.com"
  openGraph={{
    url: 'https://www.tbd.com',
    title: entry.data.title,
    description: 'Find out more...',
    images: [
      {
        url: 'https://www.tbd.com/opengraph/social-og.jpg',
        width: 1200,
        height: 630,
        alt: 'Social open graph',
        type: 'image/jpeg',
      },
      {
        url: 'https://www.tbd.com/opengraph/twitter-og.jpg',
        width: 4096,
        height: 4096,
        alt: 'Twitter open graph',
        type: 'image/jpeg',
      },
      { url: 'https://www.tbd.com/opengraph/social-og.jpg' },
      { url: 'https://www.tbd.com/opengraph/twitter-og.jpg' },
    ],
    site_name: 'YourSitesName',
  }}
  twitter={{
    handle: '@meh',
    site: '@meh',
    cardType: 'summary_large_image',
  }}
/>
<Layout title={entry.data.title}>
  <Navigation />
  <div
    class="mt-16 max-w-prose mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl xl:max-w-screen-2xl animate__animated animate__fadeInDown animate__fast text-black dark:text-white dark:from-gray-800 dark:to-gray-800 bg-gradient-to-r from-white to-white">
    <article
      class="prose sm:prose-2xl md:prose-sm lg:prose-lg mt-8 p-5 md:p-10 mx-auto xl:max-w-screen-2x dark:prose-invert lg:max-w-7xl md:max-w-6xl">
      <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold">
        {entry.data.title}
      </h1>
      <div class="mt-4 border-b border-gray-300"></div>

      <Content />
    </article><div id="disqus_thread" class="p-5"></div>
  </div>

  <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function () {
      // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement('script');
      s.src = 'https://leoluis.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript
    >Please enable JavaScript to view the <a
      href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a
    ></noscript
  >
</Layout>
