---
export const prerender = true;
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const allVideos = await getCollection('videos');
const recentVideos = [...allVideos]
  .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime())
  .slice(0, 10);
import VideoGrid from '../components/VideoGrid';
import { AstroSeo } from '@astrolib/seo';
import Hero from '../components/Hero.astro';
import Testimonial from '../components/Testimonial.astro';
import Pricing from '../components/Pricing.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import Cta from '../components/Cta.astro';
import Rive from '../components/RiveCanvas';
---

<AstroSeo
  title="Home"
  description="Your site description goes here"
  canonical="https://www.tbd.com"
  openGraph={{
    url: 'https://www.tbd.com',
    title: 'Open Graph Title',
    description: 'Open Graph Description',
    images: [
      {
        url: 'https://www.tbd.com/opengraph/social-og.jpg',
        width: 1200,
        height: 630,
        alt: 'Social open graph',
        type: 'image/jpeg',
      },
      {
        url: 'https://www.tbd.com/opengraph/twitter-og.jpg',
        width: 4096,
        height: 4096,
        alt: 'Twitter open graph',
        type: 'image/jpeg',
      },
      { url: 'https://www.tbd.com/opengraph/social-og.jpg' },
      { url: 'https://www.tbd.com/opengraph/twitter-og.jpg' },
    ],
    site_name: 'YourSitesName',
  }}
  twitter={{
    handle: '@meh',
    site: '@meh',
    cardType: 'summary_large_image',
  }}
/>
<Layout title="Welcome to Astro.">
  <Navigation />
  <div class="relative bg-gradient-to-r from-gray-900 to-black">
    <video
      autoplay
      loop
      muted
      playsinline
      class="absolute z-0 w-full h-full object-cover">
      <source src="astro-640.mp4" type="video/mp4" />
    </video>
    <div class="absolute inset-0 bg-black opacity-95 z-5"></div>
    <div
      class="relative h-screen max-w-7xl mx-auto flex flex-col justify-center items-center">
      <h1
        class="text-4xl lg:text-9xl font-bold text-white sm:text-5xl md:text-6xl z-10 animate__animated animate__zoomIn">
        Leo Lorenzo Luis
      </h1>
      <div class="hero-subtitle-container z-10">
        <p
          id="typewriter"
          class="py-1 text-2xl tracking-tight sm:text-3xl md:text-4xl lg:text-6xl font-mono text-gradient">
        </p>
      </div>
    </div>
  </div>
  <script>
    const words = [
      'Explore and enjoy',
      'Discover new things',
      'Learn something new',
      'Connect with others',
    ];
    let currentWordIndex = 0;
    const colors = [
      'from-blue to-purple',
      'from-red to-blue',
      'from-purple to-red',
      'from-orange to-purple',
    ];

    const typingSpeed = 50;
    const erasingSpeed = 20;
    const pauseDuration = 2000;

    let index = 0;
    let timer;

    function type() {
      console.log('wtf');
      const word = words[index];
      const letters = word.split('');
      let i = 0;
      timer = setInterval(() => {
        const element = document.getElementById('typewriter');
        element.textContent += letters[i];

        i++;
        if (i === letters.length) {
          clearInterval(timer);
          setTimeout(deleteText, pauseDuration);
        }
      }, typingSpeed);
    }

    function deleteText() {
      const letters = document
        .getElementById('typewriter')
        .textContent.split('');
      let i = letters.length - 1;
      timer = setInterval(() => {
        const element = document.getElementById('typewriter');
        letters.pop();
        element.textContent = letters.join('');
        i--;

        if (i < 0) {
          clearInterval(timer);
          index++;
          if (index === words.length) {
            index = 0;
          }
          setTimeout(type, pauseDuration);
        }
      }, erasingSpeed);
    }

    type();
  </script>
  <style>
    .bg-gradient-to-r {
      animation: gradient 2s ease infinite;
    }
    .hero-subtitle-container {
      height: 5em; /* set a fixed height for the typewriter element */
      min-height: 5em; /* set a min-height to ensure a minimum amount of space */
      overflow: hidden; /* hide any overflow content when typewriter element is emptied */
    }

    .text-gradient {
      --bg-size: 400%;
      background: linear-gradient(
          90deg,
          #415182,
          #634e7c,
          #a75d7c,
          #db6172,
          #d39674
        )
        0 0 / var(--bg-size) 100%;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      animation: gradient-text 3s infinite linear;
    }

    @keyframes gradient-text {
      0% {
        background-position: 0% center;
      }
      50% {
        background-position: 100% center;
      }
      100% {
        background-position: 0% center;
      }
    }

    @keyframes gradient {
      0% {
        background-size: 200% 200%;
        background-position: left bottom;
      }

      50% {
        background-size: 200% 200%;
        background-position: right bottom;
      }

      100% {
        background-size: 200% 200%;
        background-position: left bottom;
      }
    }
    :root {
      --caret-color: #8b8b8b;
    }
    .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f5f5f5;
    }

    .hero-subtitle {
      margin-top: 1rem;
      position: relative;
      display: inline-block;
    }

    .hero-subtitle::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: -0.25rem;
      left: 0;
      width: 100%;
      height: 0.25rem;
      background-color: var(--caret-color);
      animation: blink-caret 0.75s ease-in-out infinite;
    }

    @keyframes blink-caret {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  </style>
  <!-- 
    function changeGradient() {
      const gradient = document.getElementById('gradient');
      const color = colors[Math.floor(Math.random() * colors.length)];
      gradient.classList = `absolute inset-0 bg-gradient-to-r ${color}`;
    } -->
</Layout>
