---
const { title } = Astro.props;
---
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="author" content="Some Random Author"/>
    <meta name="your keywords" content="some, random, keywords, here"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favvicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favvicon-16x16.png">
    <link rel="manifest" href="/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Scripts or other third party CDN scripts -->
</head>

