<section
	class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
	<div>
		<div class="text-center max-w-4xl mx-auto">
			<div class="sm:mb-8 sm:flex sm:justify-center">
				<div
					class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
					<a href="/" class="font-semibold text-indigo-600"
						><span class="absolute inset-0" aria-hidden="true"></span>
						<span class="block lg:inline">
							Ang bold at scandal <span aria-hidden="true">&rarr;</span>
						</span>
					</a>
				</div>
			</div>
			<p class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
				Malibog yung aling yola okay?
			</p>
			<p class="text-slate-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
				Give this some god damn description
			</p>
		</div>
		<div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
			<a
				class="items-center justify-center font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
				href="/"
				>Get Started for Free &nbsp; &rarr;
			</a>
		</div>
		<dl
			class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
			<div class="text-slate-500">
				<strong class="text-slate-700">Why use #1</strong> ━ This are the popular
				technologies behind Astrosaas.
			</div>
			<div class="text-slate-500">
				<strong class="text-slate-700">Why use #2</strong> ━ You will find this landing,
				faq, terms,privacy,sign up and sign in pages.
			</div>
			<div class="text-slate-500">
				<strong class="text-slate-700">Why use #3</strong> ━ The starter includes
				different feature sections, a pricing table, testmionial, CTA and full forms.
				more.
			</div>
		</dl>
	</div>
	<div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
		<div class="bg-slate-100 p-8 rounded-3xl" style="">
			<img
				alt=""
				class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl"
				src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/327248973_3376158296034222_5653493568279659727_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=e3f864&_nc_ohc=1BrYfhIDM5wAX_HB3b2&_nc_ht=scontent-iad3-1.xx&oh=00_AfDuSCLikmOqtXtIV1X9YiRejdynjr5S7jTvmjERzvmhMQ&oe=6405DDFF"
			/>
		</div>
	</div>
</section>
